<section>
	<h2>Artículo 10</h2>			
	<p>
		<span>
			Para las preferencias de paso en las intersecciones, el conductor se ajustará al señalamiento restrictivo y a las siguientes reglas:
			<ol type="I">
				<li>Los peatones tendrán preferencia de paso sobre los vehículos de acuerdo a lo establecido en el artículo 6;</li>
				<li>Los vehículos no motorizados tendrán preferencia sobre los vehículos motorizados de acuerdo a las reglas establecidas en el artículo 15;</li>
				<li>Los vehículos de emergencia tienen preferencia de paso sobre los demás vehículos cuando circulen con las señales luminosas o audibles en funcionamiento;</li>
				<li>El ferrocarril, el tren ligero y vehículos de transporte público que circulen en carriles exclusivos confinados o en contraflujo tienen preferencia de paso;</li>
				<li>En las intersecciones reguladas por un agente, personal de apoyo vial o promotores voluntarios, los conductores deben seguir las indicaciones de éstos, independientemente de las reglas de preferencia o de lo indicado por los dispositivos para el control del tránsito;</li>
				<li>En las intersecciones reguladas mediante semáforos se respetarán las siguientes reglas:
					<ol type="a">
						<li>Cuando la luz del semáforo esté en rojo, los conductores deben detener su vehículo en la línea de “alto”, sin invadir el cruce peatonal o el área de espera para bicicletas o motocicletas; los ciclistas y motociclistas deberán hacer uso de sus áreas de espera cuando éstas existan;</li>
						<li>Cuando exista congestión vehicular que impida cruzar completamente la intersección y aunque la luz del semáforo indique siga, se deberá parar en la línea de alto para evitar obstruir la circulación de las calles transversales, principalmente en aquellas que cuenten con marca en el pavimento para indicar la prohibición de detención dentro de la intersección;</li>
						<li>Cuando los semáforos se encuentren con luces intermitentes se cruzará con precaución disminuyendo la velocidad; tiene preferencia de paso el conductor que transite por la vía cuyo semáforo esté destellando en color ámbar, sobre el conductor que transite en una vía cuyo semáforo esté destellando en color rojo, quien deberá hacer alto total y después cruzar con precaución; y</li>
						<li>Entre las 23:00 horas y las 5:00 horas del día siguiente, debe detener totalmente el vehículo frente a la luz roja del semáforo y, una vez que se cerciore de que ningún peatón o vehículo se dispone a cruzar la intersección, podrá continuar la marcha, aun cuando no haya cambiado la señal de alto.</li>
					</ol>
				</li>
				<li> En vías de acceso controlado, los vehículos que se incorporan a los carriles centrales deberán ceder el paso; los vehículos que circulan sobre la vía lateral, deberán ceder el paso a los que se desincorporan de los carriles centrales, con excepción de situaciones de congestionamiento vial con tránsito detenido, en las que se alternará el paso bajo el criterio de “uno y uno”;</li>
				<li>Cuando los conductores circulen por una vía que no cuente con semáforos o se encuentren apagados y no haya señalamiento restrictivo que regule la preferencia de paso, luego de dejar pasar a los peatones, se ajustarán a la siguiente jerarquía de reglas:
					<ol type="a">
						<li>El que circule por una vía primaria tiene preferencia de paso sobre el que pretenda acceder a ella;</li>
						<li>Tienen la preferencia los vehículos que circulen sobre la vía con mayor amplitud o mayor volumen de tránsito;</li>
						<li>En vías de la misma jerarquía, tiene la preferencia el vehículo que circule en una calle o vía de doble sentido sobre aquel que circule en una vía de un solo sentido;</li>
						<li> En vías secundarias de un sólo sentido y con el mismo número de carriles, cuando dos vehículos se encuentren en una intersección, se le cederá el paso al vehículo que se aproxime por su derecha; y</li>
						<li>Cuando en el cruce de dos vías secundarias con un sólo carril efectivo de circulación, se aproximen de forma simultánea vehículos en las diferentes vías, ambos deben realizar alto total y cruzar con precaución, alternándose el paso bajo el criterio de “uno y uno”.</li>		
					</ol>
				</li>
				<li>En las glorietas, el vehículo que se encuentre dentro de la misma tiene preferencia de paso sobre el que pretenda acceder a ella; en aquellas glorietas de varios carriles tienen preferencia aquellos vehículos que realicen movimiento para salir de ella;</li>
				<li>La vuelta continua, a la derecha y a la izquierda, está prohibida, excepto cuando exista un señalamiento que expresamente lo permita, en cuyo caso deberá cederse el paso a los peatones que estén cruzando y a los vehículos que transiten por la vía a la que se pretende incorporar;</li>
				<li>En vías en las que exista reducción de carriles, tendrá preferencia el conductor del vehículo que circula sobre el carril que se conserva; en caso de congestión vial, todos los vehículos deberán guardar el orden de paso sin adelantase a otros vehículos que les precedan e intercalarse uno a uno; y</li>
				<li>En vías con pendientes donde no sea posible el paso simultáneo de dos vehículos, tiene preferencia de paso el conductor del vehículo que va en sentido ascendente.</li>						
			</ol>
			<br></br>
			Los conductores de vehículos no motorizados que no cumplan con las obligaciones estipuladas en el presente artículo serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad con lo establecido por las disposiciones aplicables.
			<br></br>
			El incumplimiento de las reglas dispuestas en este artículo por parte de conductores de vehículos motorizados se sancionará con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>III, IV, V, VI, X</th>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>VII, VIII, IX, XI </th>
					<th>10 a 20 veces </th>
					<th>1 punto</th>
				</tr>
			</table>					
		</span>
	</p>
</section>