<section>
	<h2>Artículo 59</h2>
	<p>
		<span>
			Cuando algún usuario de la vía cometa una infracción a lo dispuesto en este Reglamento y demás disposiciones aplicables, el agente procederá de la manera siguiente:
			<ol type="I">
				<li>Cuando se trate de peatones y ciclistas:
					<ol type="a">
						<li>Les indicará que se detengan;</li>
						<li>Se identificará con su nombre y número de placa;</li>
						<li>Le indicará al infractor la falta cometida y le mostrará el artículo del Reglamento que lo fundamenta;</li>
						<li>Amonestará verbalmente al infractor por la conducta riesgosa y lo conminará a transitar de acuerdo a lo estipulado en este Reglamento; y</li>
						<li>En caso de que el infractor insulte o denigre al agente, se procederá a su remisión ante el Juez Cívico.</li>
					</ol>
				</li>
				<li>Cuando se trate de conductores de vehículos motorizados:
					<ol type="I">
						<li>El agente indicará al conductor que detenga la marcha de su vehículo, en un lugar adecuado y preferentemente cercano a cámaras de video vigilancia, de ser posible;</li>
						<li>Reportará inmediatamente, vía radio el motivo por el cual detiene al conductor, así como la matrícula y/o las placas del vehículo, en busca de reporte de robo del mismo;</li>
						<li>Se identificará con su nombre y número de placa;</li>
						<li>Señalará al conductor la infracción que cometió y le mostrará el artículo del Reglamento que lo fundamenta, así como la sanción que proceda por la infracción; </li>
						<li>Solicitará al conductor del vehículo motorizado la licencia para conducir, la tarjeta de circulación y en su caso la póliza de seguro de responsabilidad civil por daños a terceros vigente, documentos que serán entregados para su revisión. En caso de que el conductor no presente para su revisión alguno de los documentos, el agente procederá a imponer a la sanción correspondiente;</li>
						<li>En caso de no proceder la aplicación de sanción económica, amonestará al infractor por la falta cometida y lo conminará a transitar de acuerdo a lo estipulado en este Reglamento;</li>
						<li>El agente procederá a llenar la boleta de sanción, de la que extenderá una copia al interesado</li>
						<li>Le devolverá la documentación entregada para revisión, si esta se encuentra vigente y corresponde al vehículo y al conductor, de lo contrario se aplicará la sanción prevista en este ordenamiento.</li>
						<li>Para el caso de infracciones detectadas a través de la información obtenida con equipos y sistemas tecnológicos de Seguridad Pública, se sujetará a lo dispuesto en el artículo 61 del presente Reglamento; y</li>
						<li>En caso de que el infractor insulte o denigre al agente, se sancionará conforme a las disposiciones de este Reglamento y de continuar con una conducta inadecuada se procederá a su remisión ante el Juez Cívico.</li>
					</ol>
				</li>
			</ol>
		</span>
	</p>
</section>