<section>
	<h2>Artículo 28</h2>
	<p>
		<span>
			Se prohíbe a los conductores de vehículos que transporten sustancias tóxicas o peligrosas:
			<ol type="I">
				<li>Estacionar los vehículos en la vía pública o en la proximidad de fuente de riesgo, independientemente de la observancia de las condiciones y restricciones impuestas por las autoridades federales en materia ambiental y de transporte; y</li>
				<li>Realizar maniobras de carga y descarga en lugares no destinados para tal fin.</li>
			</ol>
			La infracción a las prohibiciones dispuestas en este artículo, se sancionará con base en la siguiente tabla, sin perjuicio de lo dispuesto por la Ley:
			<br></br>
			 <table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>II</th>
					<th>80 a 130 veces</th>
					<th>6 puntos</th>
				</tr>
				<tr>
					<th>I</th>
					<th>500 a 600 veces y remisión al depósito</th>
					<th>3 puntos</th>
				</tr>
			</table>
		</span>
	</p>
</section>