<section>
	<h2>Artículo 25</h2>
	<p>
		<span>
			Además de lo dispuesto en el capítulo II de este Título, los conductores de vehículos de transporte de carga deben:
			<ol type="I">
				<li>Circular en las vías y horarios establecidos mediante aviso de la Secretaría;</li>
				<li>Circular por el carril de la extrema derecha y usar el izquierdo sólo para rebasar o dar vuelta a la izquierda; y</li>
				<li>Realizar maniobras de carga y descarga en lugares seguros, sin afectar o interrumpir el tránsito vehicular.</li>
			</ol>
			El incumplimiento de las obligaciones dispuestas en este artículo, se sancionará con base en la siguiente tabla, sin perjuicio de lo dispuesto por la Ley: 
			<br></br>
			 <table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>II</th>
					<th>10 a 20 veces</th>
					<th>1 punto</th>
				</tr>
				<tr>
					<th>I</th>
					<th>40 a 60 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>III</th>
					<th>100 a 200 veces y remisión del vehículo al depósito</th>
					<th>3 puntos</th>
				</tr>
			</table>
			<br></br>
			Los vehículos que transporten perecederos no serán remitidos al depósito, de acuerdo a lo dispuesto en el artículo 68 del presente Reglamento.
		</span>
	</p>
</section>