<section>
	<h2>Artículo 32</h2>
	<p>
		<span>
			La Secretaría y Seguridad Pública podrán sujetar a determinados horarios y días de la semana la aprobación o prohibición para estacionarse en la vía pública y el establecimiento de espacios de servicios especiales, mediante la señalización vial respectiva. Asimismo, la Secretaría está facultada para instruir a la Secretaría de Obras y/o Delegaciones para retirar los señalamientos respectivos cuando se efectúen modificaciones con objeto de garantizar un uso eficiente de la vía.
		</span>
	</p>
</section>