<section>
	<h2>Artículo 38</h2>
	<p>
		<span>
			Los conductores de vehículos son responsables de evitar realizar acciones que pongan en riesgo su integridad física y la de los demás usuarios de la vía, por lo que se prohíbe:
			<ol type="I">
				<li>A los conductores de vehículos no motorizados:
					<ol type="a">
						<li>Llevar objetos que obstruyan la visibilidad del conductor o lo distraigan;</li>
						<li>Transportar carga que impida mantener ambas manos sobre el manubrio, y un debido control del vehículo;</li>
						<li>Sujetarse a otros vehículos en movimiento; </li>
						<li>Manipular un teléfono celular o cualquier dispositivo de comunicación o de audio mientras el vehículo esté en movimiento, cualquier manipulación deberá hacerse con el vehículo detenido; y</li>
						<li>Transportar a un pasajero apoyado en el cuadro de la bicicleta, en el espacio intermedio entre el sillín y el manubrio; excepto cuando se cuente con una silla para transportar niños y haya sido diseñada específicamente para tal propósito.</li>
					</ol>
				</li>
				<li>A los conductores de vehículos motorizados:
					<ol type="a">
						<li>Llevar objetos que obstruyan la visibilidad del conductor o lo distraigan;</li>
						<li>Llevar objetos de gran tamaño entre la portezuela del vehículo y su costado izquierdo;</li>
						<li>Sostener, cargar o colocar personas o animales entre sus brazos y piernas;</li>
						<li>Utilizar objetos que representen un distractor para la conducción segura; tratándose de dispositivos de apoyo a la conducción como mapas y navegadores GPS, cualquier manipulación deberá hacerse con el vehículo detenido;</li>
						<li>Utilizar teléfono celular o cualquier dispositivo de comunicación mientras el vehículo esté en movimiento, cualquier manipulación deberá hacerse con el vehículo detenido;</li>
						<li>Utilizar parlantes o producir ruido excesivo con aparatos para la reproducción de música;</li>
						<li>Transportar mayor número de personas que el señalado en la tarjeta de circulación; </li>
						<li>Transportar personas en la parte exterior de la carrocería, con excepción del transporte de cargadores o estibadores cuando la finalidad del transporte requiera de ellos y en número y en condiciones tales que garanticen la integridad física de los mismos;</li>
						<li>Instalar o utilizar televisores o pantallas de proyección de cualquier tipo de video o sistemas de entretenimiento en la parte delantera del vehículo; y</li>
						<li>Utilizar luces auxiliares de niebla delanteras y/o traseras de día o cuando no existan condiciones adversas que limiten la visibilidad.</li>
					</ol>
				</li>
				<li>Adicionalmente, a los motociclistas:
					<ol type="a">
						<li>Transportar carga que impida mantener ambas manos sobre el manubrio, y un debido control del vehículo;</li>
						<li>Sujetarse a otros vehículos en movimiento;</li>
						<li>Transportar pasajeros menores de doce años de edad; </li>
						<li>Transportar a un pasajero entre el conductor y el manubrio; y</li>
						<li>Transportar un menor de edad, cuando este no pueda sujetarse por sí mismo a la motocicleta y, estando correctamente sentado, no pueda colocar adecuada y firmemente los pies en los estribos o posa pies, excepto que cuente con los aditamentos especialmente diseñados para su seguridad.</li>
					</ol>
				</li>
				<li>Adicionalmente, a los conductores de vehículos de transporte público, escolar y de personal:
					<ol type="a">
						<li>Cargar combustible llevando pasajeros a bordo; y</li>
						<li>Llevar vidrios polarizados, obscurecidos o con aditamentos u objetos distintos a las calcomanías reglamentarias.</li>
					</ol>
				</li>
				<li>Adicionalmente, a los conductores de vehículos de carga:
					<ol type="a">
						<li>Circular con pasajeros que viajen en el área de carga; y</li>
						<li>Circular con carga que exceda el peso bruto vehicular máximo permitido establecido en las normas aplicables o en el señalamiento restrictivo, obstruya la vista frontal o los espejos frontales laterales o que sobresalga de la parte delantera, posterior o de los costados, salvo cuando se obtenga el permiso correspondiente de la Secretaría, debiendo indicar con elementos reflejantes el perímetro de la carga.</li>
					</ol>
				</li>
				<li>Adicionalmente, a los conductores de vehículos de transporte de sustancias tóxicas o peligrosas:
					<ol type="a">
						<li>Llevar a bordo personas ajenas a su operación; y</li>
						<li>Arrojar o descargar en la vía, así como ventear innecesariamente cualquier tipo de sustancia tóxica o peligrosa.</li>
					</ol>
				</li>
			</ol>
			Los conductores de vehículos no motorizados que no cumplan con lo estipulado en el presente artículo, serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad con lo establecido por las disposiciones aplicables. El incumplimiento a lo dispuesto en este artículo por parte de conductores de vehículos motorizados, se sancionará con base en la siguiente tabla:

			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>II a), b), f), g); III a), b)</th>
					<th>5 a 10 veces </th>
					<th>1 punto</th>
				</tr>
				<tr>
					<th>II c), d), h); III c), d), e); Va); VI a)</th>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>IV</th>
					<th>10 a 20 veces y remisión del vehículo al depósito </th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>II i)</th>
					<th>20 a 30 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>II e)</th>
					<th>30 a 35 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>V b) </th>
					<th>40 a 60 veces y remisión del vehículo al depósito</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>VI b)</th>
					<th>400 a 600 veces</th>
					<th>6 puntos</th>
				</tr>
			</table>

		</span>
	</p>
</section>