<section>
	<h2>Artículo 53</h2>
	<p>
		<span>
			Cuando ocurra un hecho de tránsito en el que se produzca lesiones o muerte; derrame de combustible, o sustancias tóxicas o peligrosas, las personas involucradas en el incidente o cualquier otra persona que pase por el sitio, deberán:
			<ol type="I">
				<li>Informar inmediatamente a los servicios de emergencia, procurando proporcionar la ubicación del accidente lo más detallado posible, el número de posibles lesionados y si hay derrame de combustibles o químicos peligrosos. Si la persona implicada en el incidente no tuviera los medios para informar a las autoridades, deberá valerse de terceros para realizar esta acción;</li>
				<li>Instalar señalamientos que se tengan a la mano, a efecto de que se disminuya la velocidad de otros vehículos y se haga la desviación de la circulación;</li>
			</ol>
			Los peatones y conductores que pasen por el sitio de un hecho de tránsito sin estar implicados en el mismo, deberán continuar su marcha, de manera que no entorpezcan las acciones de auxilio, a menos que las autoridades competentes soliciten su colaboración.
		</span>
	</p>
</section>