<section>
	<h2>Artículo 42</h2>
	<p>
		<span>
			Los vehículos motorizados que tengan adaptados dispositivos de acoplamiento para tracción de remolques y semirremolques deberán cumplir con lo siguiente:
			<ol type="I">
				<li>Un mecanismo giratorio o retráctil que no rebase la defensa del mismo; los vehículos que no cumplan con este requisito deberán ser modificados por el propietario;</li>
				<li>Los remolques deben contar con bandas reflejantes de color blanco y rojo en los costados laterales y posterior y bandas reflejantes amarillas en la parte frontal, así como de dos lámparas indicadoras de frenado; y </li>
				<li> </li>
				<li>Las luces de freno deben ser visibles en la parte posterior de los remolques.</li>
			</ol>
			El incumplimiento de las obligaciones señaladas en este artículo, se sancionarán con:
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>I, II, III </th>
					<th>5 a 10 veces</th>
					<th>No aplica</th>
				</tr>
			</table>
		</span>
	</p>
</section>