<section>
	<h2>Artículo 27</h2>
	<p>
		<span>
			Además de las obligaciones contenidas en los artículos que anteceden, los conductores de vehículos que transporten sustancias tóxicas o peligrosas deben:
			<ol type="I">
				<li>Sujetarse estrictamente a circular por las rutas, horarios y los itinerarios de carga y descarga autorizados y dados a conocer por la Secretaría y por Seguridad Pública;</li>
				<li>Abstenerse de realizar paradas que no estén señaladas en la operación del servicio;</li>
				<li>En caso de congestionamiento vehicular que interrumpa la circulación, el conductor deberá solicitar a los agentes prioridad para continuar su marcha, mostrándoles la documentación que ampare el riesgo sobre el producto que transporta, con el propósito de salvaguardar la integridad física de las personas y bienes.</li>
				<li>Deberán ir señalizados y balizados de conformidad con lo establecido en las normas oficiales mexicanas con relación a este tipo de transporte; y</li>
				<li>Cumplir con los lineamientos en materia de sustancias peligrosas que para tal efecto expidan las autoridades competentes</li>
			</ol>
			El incumplimiento de las obligaciones dispuestas en este artículo, se sancionará con base en la siguiente tabla, sin perjuicio de lo dispuesto por la Ley;
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>I, II</th>
					<th>40 a 60 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>II</th>
					<th>100 a 200 veces</th>
					<th>3 puntos</th>
				</tr>
			</table>
		</span>
	</p>
</section>