<section>
	<h2>Artículo 4</h2>			
	<p>
		<span>
			Además de lo que señala la Ley y sus reglamentos, para los efectos de este Reglamento, se entiende por:
		</span>
		<ol type="I">
			<li>
				<b>Agente</b>, elemento de la Policía del Distrito Federal con funciones para el control de tránsito;
			</li>
			<li>
				<b>Amonestación verbal</b>, acto por el cual el agente advierte a los peatones, conductores y pasajeros de un vehículo sobre el incumplimiento cometido a las disposiciones de este reglamento y tiene como propósito orientarlos a conducirse de conformidad con lo establecido en el mismo y prevenir la realización de otras conductas similares;
			</li>
			<li>
				<b>Área de espera para bicicletas y motocicletas</b>, zona marcada sobre el pavimento en una intersección de vías que tengan semáforos, que permite a los conductores de estos vehículos aguardar la luz verde del semáforo en una posición adelantada, de tal forma que sean visibles a los conductores del resto de los vehículos;
			</li>
			<li>
				<b>Ayudas técnicas</b>, dispositivos tecnológicos y materiales que permiten habilitar, rehabilitar o compensar una o más limitaciones funcionales, motrices, sensoriales o intelectuales de las Personas con Discapacidad.
			</li>
			<li>
				<b>Bicicleta</b>, Vehículo no motorizado de propulsión humana a través de pedales;
			</li>
			<li>
				<b>Boleta</b>, documento en donde se hace constar la infracción y la sanción correspondiente;
			</li>
			<li>
				<b>Carril</b>, espacio asignado para la circulación de vehículos, ubicado sobre la superficie de rodadura y delimitado por líneas continuas o discontinuas, el cual debe contar con el ancho suficiente para la circulación de vehículos en una fila;
			</li>
			<li>
				<b>Carril confinado</b>,  superficie de rodadura con dispositivos de delimitación en su perímetro para el uso preferente o exclusivo de servicios de transporte, así como de cierto tipo de vehículos;
			</li>
			<li>
				<b>Cliclista</b>, conductor de un vehículo de tracción humana a través de pedales; se considera también ciclista a aquellos que conducen bicicletas asistidas por motores eléctricos, siempre y cuando ésta desarrolle velocidades de hasta 25 kilómetros por hora; los menores de doce años a bordo de un vehículo no motorizado serán considerados peatones; 
			</li>
			<li>
				<b>Circulación</b>, desplazamiento por la vía pública de peatones, conductores y ocupantes de vehículos.
			</li>
			<li>
				<b>Conductor</b>, toda persona que maneje un vehículo en cualquiera de sus modalidades;
			</li>
			<li>
				<b>Cruce peatonal</b>, área sobre el arroyo vehicular asignada para el tránsito de peatones, puede estar a nivel de la acera o superficie de rodadura;
			</li>
			<li>
				<b>Dispositivos para el control del tránsito</b>, conjunto de elementos que ordenan y orientan los movimientos de tránsito de personas y circulación de vehículos; que previenen y proporcionan información a los usuarios de la vía para garantizar su seguridad, permitiendo una operación efectiva del flujo peatonal y vehicular;
			</li>
			<li>
				<b>Elemento de Seguridad Pública</b>, miembro de la policía preventiva o complementaria;
			</li>
			<li>
				<b>Espacios para servicios especiales</b>,  son todos aquellos sitios en la vía pública debidamente autorizados por la Secretaría, exclusivos para realizar maniobras de ascenso y descenso de pasajeros o para como áreas reservadas para personas con discapacidad, servicio de acomodadores, bicicletas y motocicletas, sitios y lanzaderas de transporte público, áreas para carga y descarga, transporte de valores, correos, mensajería, mensajería y paquetería, recolección de residuos sólidos, vehículos de emergencia, y los que se señalen por la Secretaria;
			</li>
			<li>
				<b>Formato de hecho de tránsito</b>, cédula en la que se establecen las circunstancias de tiempo, lugar y modo de incidentes viales, en la cual el agente o elemento de Seguridad Pública registra: fecha, hora, lugar; datos de las personas y vehículos involucrados, en su caso, número de lesionados o fallecidos; servicios de emergencia y en su caso, del Ministerio Publico; y cualquier otro dato que sea necesario para determinar las características del incidente y responsabilidad de quienes hayan intervenido en el hecho.
			</li>
			<li>
				<b>Hecho de tránsito</b>, evento producido por el tránsito vehicular, en el que interviene por lo menos un vehículo, causando daños materiales, lesiones y/o muerte de personas;
			</li>
			<li>
				<b>Infracción</b>, conducta que transgrede alguna disposición del presente reglamento o demás disposiciones de tránsito aplicables y que tiene como consecuencia una sanción;
			</li>
			<li>
				<b>Intersección</b>, nodo donde convergen dos o más vías, en la que se realizan los movimientos direccionales del tránsito peatonal o vehicular de forma directa o canalizada por islas;
			</li>
			<li>
				<b>Juez Cívico</b>, los Jueces Cívicos adscritos a la Consejería Jurídica y de Servicios Legales;
			</li>
			<li>
				<b>Ley</b>, la Ley de Movilidad del Distrito Federal;
			</li>
			<li>
				<b>Motocicleta</b>, vehículo motorizado que utiliza manubrio para su conducción, de una o más plazas, con dos o más ruedas, que está equipado con motor eléctrico, de combustión interna de dos o cuatro tiempos, con un cilindraje a partir de cuarenta y nueve centímetros cúbicos de desplazamiento o impulsado por cualquier otra fuerza motriz, que cumpla con las disposiciones estipuladas en la Norma Oficial Mexicana en materia de identificación vehicular;
			</li>
			<li>
				<b>Motociclista</b>, persona que conduce una motocicleta;
			</li>
			<li>
				<b>Peatón</b>, persona que transita por la vía a pie y/o que utiliza ayudas técnicas por su condición de discapacidad o movilidad limitada, así como en patines, patineta u otros vehículos recreativos; incluye a niños menores de doce años a bordo de un vehículo no motorizado;
			</li>
			<li>
				<b>Personal de apoyo vial</b>, elemento de la Secretaría responsable de brindar información vial, prestar apoyo a peatones y conductores de vehículos, así como promover la cultura vial y auxiliar en contingencias causadas por hechos de tránsito o eventos públicos masivos;
			</li>
			<li>
				<b>Persona con discapacidad</b>, aquellas personas que tengan deficiencias físicas, mentales, intelectuales, o sensoriales a largo plazo que al interactuar con diversas barreras, puedan impedir su participación plena y efectiva en la sociedad, en igualdad de condiciones con las demás;
			</li>
			<li>
				<b>Personas con movilidad limitada</b>, personas que de forma temporal o permanente, debido a enfermedad, edad, accidente o alguna otra condición, realizan un desplazamiento lento, difícil o desequilibrado. Incluye a niños, mujeres en periodo de gestación, adultos mayores, adultos que transitan con niños pequeños, personas con discapacidad, personas con equipaje o paquetes; 
			</li>
			<li>
				<b>Preferencia de paso</b>, ventaja que se le otorga a alguno de los usuarios de la vía para que realice un movimiento en el punto donde convergen flujos de circulación;
			</li>
			<li>
				<b>Prioridad de uso</b>, ventaja que se le otorga a alguno de los usuarios de la vía para la utilización de un espacio de circulación; los otros vehículos tendrán que ceder el paso y circular detrás del usuario con prioridad o en su caso cambiar de carril;
			</li>
			<li>
				<b>Programa de Verificación Vehicular</b>, el Programa de Verificación Vehicular Obligatoria para el Distrito Federal vigente;
			</li>
			<li>
				<b>Programa Hoy no Circula</b>, el Programa Hoy no Circula para el Distrito Federal vigente;
			</li>
			<li>
				<b>Programa para Contingencias Ambientales Atmosféricas</b>, el Programa para Contingencias Ambientales Atmosféricas en el Distrito Federal vigente;
			</li>
			<li>
				<b>Programa conduce sin alcohol</b>, el Programa de Control y Prevención de Ingestión de Alcohol en conductores de vehículos en el Distrito Federal;
			</li>
			<li>
				<b>Promotor voluntario</b>, ciudadano capacitado por la Secretaría o Seguridad Pública que colabora a regular el tránsito en las inmediaciones de centros educativos para garantizar la seguridad vial de los escolares, zonas de obra o cruces conflictivos;
			</li>
			<li>
				<b>Reglamento</b>, el Reglamento de Tránsito del Distrito Federal;
			</li>
			<li>
				<b>Secretaría</b>, la Secretaría de Movilidad del Distrito Federal;
			</li>
			<li>
				<b>Secretaría de Obras</b>, la Secretaría de Obras y Servicios del Distrito Federal;
			</li>
			<li>
				<b>Secretaria del Medio Ambiente</b>, la Secretaría del Medio Ambiente del Distrito Federal;
			</li>
			<li>
				<b>Seguridad Pública</b>, la Secretaría de Seguridad Pública del Distrito Federal;
			</li>
			<li>
				<b>Seguridad Vial</b>, conjunto de políticas y sistemas orientados a la prevención de hechos de tránsito;
			</li>
			<li>
				<b>Señalización Vial</b>, conjunto de elementos y objetos visuales de contenido informativo, indicativo, restrictivo, preventivo, prohibitivo o de cualquier otro carácter, que se colocan la infraestructura vial; 
			</li>
			<li>
				<b>Substancia peligrosa</b>, Todo elemento, compuesto, material o mezcla que independientemente de su estado físico, represente un riesgo potencial para la salud, el ambiente, la seguridad de los usuarios y/o la propiedad de terceros;
			</li>
			<li>
				<b>Tirilla de resultados técnicos</b>, ticket papeleta que contiene: última fecha de verificación del aparato, fecha y hora de la prueba realizada, grados de alcohol en aire espirado, número de prueba, líneas punteadas sobre las cuales se anota nombre completo del infractor, registro federal de contribuyentes, número de licencia, nombre y firma del médico o técnico aplicador;
			</li>
			<li>
				<b>Unidad de Cuenta de la Ciudad de México (UCCM)</b>, El valor expresado en pesos que se utilizará, de manera individual o por múltiplos de ésta, para determinar sanciones y multas administrativas, conceptos de pago y montos de referencia, previstos en las normas locales vigentes del Distrito Federal.
			</li>
			<li>
				<b>Usuarios vulnerables de la vía</b>,  aquellos usuarios que están expuestos a un mayor peligro durante su circulación en la vía ya que no cuentan con una estructura de protección, por lo que son más propensos a sufrir lesiones graves o incluso perder la vida cuando se ven involucrados en hechos de tránsito;
			</li>
			<li>
				<b>Vehículo</b>, aparato diseñado para el tránsito terrestre, propulsado por una fuerza humana directa o asistido para ello por un motor de combustión interna y/o eléctrico, o cualquier otra fuerza motriz, el cual es utilizado para el transporte de personas o bienes;
			</li>
			<li>
				<b>Vehículo de emergencia</b>,  aquellos destinados a la prestación de servicios médicos, de protección civil, rescate, apoyo vial, bomberos y de policía;
			</li>
			<li>
				<b>Vehículo motorizado</b>, aquellos vehículos de transporte terrestre de pasajeros o carga, que para su tracción dependen de un motor de combustión interna, eléctrica o de cualquier otra tecnología;
			</li>
			<li>
				<b>Vehículo no motorizado</b>, aquellos vehículos que utilizan tracción humana para su desplazamiento; incluye bicicletas asistidas por motor que desarrollen velocidades máximas de 25 kilómetros por hora;
			</li>
			<li>
				<b>Vehículo recreativo</b>, aquellos utilizados por peatones para actividades lúdicas y deportivas tales como patines, patinetas, patines del diablo y bicicletas para niños de hasta doce años de edad;
			</li>
			<li>
				<b>Vía</b>, espacio físico destinado al tránsito de peatones y vehículos;
			</li>
			<li>
				<b>Vialidad</b>, conjunto integrado de vías de uso común que conforman la traza urbana de la ciudad, cuya función es facilitar el tránsito eficiente y seguro de personas y vehículos;
			</li>
			<li>
				<b>Vía ciclista</b>,  espacio destinado al tránsito exclusivo o prioritario de vehículos no motorizados la que puede ser parte de la superficie de rodadura de las vías o tener un trazo independiente; ésta incluye:
				<ol type="a">
					<li>
						Carril compartido ciclista, carril ubicado en la extrema derecha del área de circulación vehicular, con un ancho adecuado para permitir que ciclistas y conductores de vehículos motorizados compartan el espacio de forma segura; estos carriles deben contar con dispositivos para regular la velocidad;
					</li>
					<li>
						Ciclocarril, carril delimitado con marcas en el pavimento destinado exclusivamente para la circulación ciclista;
					</li>
					<li>
						Ciclovía, carril confinado exclusivo para la circulación ciclista físicamente segregado del tránsito automotor; y
					</li>
					<li>
						Calle compartida ciclista, vía destinada a la circulación prioritaria de bicicletas, que cuenta con dispositivos que permiten orientar y regular el tránsito de todos los vehículos que circulen en ella, con la finalidad de compartir el espacio vial de forma segura y en estricto apego a la prioridad de uso del espacio indicada en el presente Reglamento.
					</li>
				</ol>
			</li>
			<li>
				<b>Vía de acceso controlado</b>, vías primarias cuyas intersecciones generalmente son a desnivel; cuentan con carriles centrales y laterales separados por camellones; la incorporación y desincorporación al cuerpo de flujo continuo deberá realizarse a través de carriles de aceleración y desaceleración en puntos específicos, según el listado del anexo de este reglamento;
			</li>
			<li>
				<b>Vía peatonal</b>, espacio destinado al tránsito exclusivo o prioritario de peatones, accesible para personas con discapacidad y movilidad limitada, y al alojamiento de instalaciones o mobiliario urbano y en la que el acceso a vehículos está restringida a reglas especificadas en este reglamento; éstas incluyen:
				<ol>
					<li>Cruces peatonales;</li>
					<li>Aceras y rampas;</li>
					<li>Camellones e isletas;</li>
					<li>Plazas y parques;</li>
					<li>Puentes peatonales;</li>
					<li>Calles peatonales y andadores; y</li>
					<li>Calles de prioridad peatonal.</li>
				</ol>
			</li>
			<li>
				<b>Vía primaria</b>, espacio físico cuya función es facilitar el flujo del tránsito vehicular continuo o controlado por semáforo, entre distintas zonas de la Ciudad, las cuales pueden contar con carriles exclusivos para la circulación de bicicletas y/o transporte público, según el listado del anexo de este reglamento;
			</li>
			<li>
				<b>Vía pública</b>, todo espacio de uso común destinado al tránsito de peatones y vehículos; así como a la prestación de servicios públicos y colocación de mobiliario urbano;
			</li>
			<li>
				<b>Vía reversible</b>, espacio físico destinado exclusivamente al tránsito de vehículos, con la posibilidad de cambiar el sentido total o parcial de su circulación en horarios previamente establecidos y comunicados por Seguridad Pública;
			</li>
			<li>
				<b>Vía secundaria</b>, espacio físico cuya función es permitir el acceso a los predios y facultar el flujo del tránsito vehicular no continuo; en su mayoría conectan con vías primarias y sus intersecciones pueden estar controladas por semáforos; y
			</li>
			<li>
				<b>Zona de tránsito calmado</b>, área delimitada al interior de colonias, barrios, o pueblos, cuyas vías se diseñan para reducir el volumen y velocidad del tránsito, de forma tal que peatones, ciclistas y conductores de vehículos motorizados circulen de manera segura.
			</li>
		</ol>
	</p>
</section>