<section>
	<h2>Artículo 44</h2>
	<p>
		<span>
			Los conductores de vehículos motorizados deben cumplir con los requisitos legales especificados por cada tipo de vehículo del que se trate:
			<ol type="I">
				<li>Conductores de vehículos motorizados de uso particular, incluyendo a motociclistas, deben:
					<ol type="a">
						<li>Cuando sean menores de edad, portar permiso de conducir;</li>
						<li>Cuando sean mayores de edad, portar licencia vigente correspondiente al tipo de vehículo.</li>
					</ol>
				</li>
				<li>Conductores de vehículos de transporte público de pasajeros deben:
					<ol type="a">
						<li>Conducir con licencia vigente correspondiente al tipo de vehículo;</li>
						<li>Portar el tarjetón a la vista del pasajero; </li>
						<li>Portar el engomado de la concesión; y</li>
						<li>Utilizar la cromática autorizada por la Secretaría. </li>
					</ol>
				</li>
				<li>Tratándose de ciclotaxis:
					<ol type="a">
						<li>Portar el permiso expedido por autoridad correspondiente;</li>
						<li>Utilizar la cromática autorizada por la Secretaría; y</li>
						<li>Portar el número económico que identifique a la unidad.</li>
					</ol>
				</li>
				<li>Los conductores de vehículos de transporte escolar o de pasajeros deben:
					<ol type="a">
						<li>Conducir con licencia vigente correspondiente al tipo de vehículo;</li>
						<li>Utilizar la cromática autorizada por la Secretaría; y,</li>
						<li>Contar con el permiso o concesión correspondiente.</li>
					</ol>
				</li>
				<li>Los conductores de vehículos de transporte de carga deben:
					<ol type="a">
						<li>Conducir con licencia vigente correspondiente al tipo de vehículo;</li>
						<li>Contar con el permiso o concesión correspondiente.</li>
						<li></li>
					</ol>
				</li>
				<li>Los conductores de vehículos que transporten sustancias tóxicas o peligrosas, adicionalmente deben contar con:
					<ol type="a">
						<li>El sistema de identificación de unidades destinadas al transporte de substancias, materiales y residuos peligrosos de acuerdo a la norma vigente;</li>
						<li>El permiso correspondiente para transportar esas sustancias; y</li>
						<li>Contar con protocolos de actuación en casos de emergencia.</li>
					</ol>
				</li>
			</ol>
			Los requisitos y procedimiento para la obtención de permisos y licencias de conducir, tarjetones y demás documentos para la conducción de vehículos se establecen en la Ley y en el Reglamento respectivo. El incumplimiento de las obligaciones dispuestas en este artículo, se sancionará con base en la siguiente tabla, sin menoscabo de lo estipulado por la Ley y su reglamento respectivo:
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>I</th>
					<th>10 a 20 veces y remisión del vehículo al depósito </th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>III</th>
					<th>40 a 60 veces y remisión del vehículo al depósito</th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>IV, Va)</th>
					<th>60 a 80 veces y remisión del vehículo al depósito</th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>II a), b), d); VI</th>
					<th>80 a 100 veces y remisión del vehículo al depósito </th>
					<th>No aplica</th>
				</tr>
			</table>
		</span>
	</p>
</section>