<section>
	<h2>Artículo 33</h2>
	<p>
		<span>
			Aun cuando se encuentre presente el conductor o alguna otra persona, los vehículos motorizados estacionados serán inmovilizados por el agente, cuando:
			<ol type="I">
				<li>Los vehículos se encuentren estacionados en lugares prohibidos según lo establecido en el artículo 30 fracciones I, IV, V, VII, VIII, IX, XIII, XIV y XVIII de este ordenamiento, no se cuente inmediatamente con una grúa para remitirlos al depósito de vehículos y los agentes dispongan de inmovilizadores;</li>
				<li>Los vehículos se encuentren estacionados en zonas en las que existan sistemas de cobro por estacionamiento en vía pública, en los siguientes casos:
					<ol type="a">
						<li>No se haya cubierto la cuota de estacionamiento en el momento de la revisión;</li>
						<li>Haya concluido el tiempo pagado;</li>
						<li>En caso de haber comprobante de pago, éste no sea visible desde el exterior del vehículo, el número de placas de matrícula no coincida o la fecha del comprobante sea distinta;</li>
						<li>El vehículo esté estacionado fuera de un cajón y/o zona marcada para el estacionamiento, o esté invadiendo u obstruyendo otro cajón, con excepción de vehículos que por sus dimensiones rebasen el espacio del cajón marcado;</li>
						<li>El vehículo estacionado no coincida, por sus dimensiones o naturaleza, con el tipo de vehículo al que está destinado el cajón, de acuerdo a lo indicado por el señalamiento, incluidas las motocicletas que deben ser estacionadas en los lugares especiales para ese tipo de vehículo;</li>
						<li>El permiso renovable para residentes haya perdido vigencia, no sea visible desde el exterior del vehículo o no coincida con la placa de matrícula del vehículo, o el polígono para el cual fue autorizado;</li>
					</ol>
				</li>
			</ol>
			Si el inmovilizador fue colocado por lo previsto en la fracción I de este artículo y hay disponibilidad de grúa dentro de los primeros 15 minutos posteriores a la hora registrada en la boleta de infracción, el vehículo se remitirá al depósito sin la aplicación de la sanción económica por retiro del inmovilizador.
			Transcurridas más de dos horas de haber sido inmovilizado el vehículo, si el interesado no lo retira del lugar, se procederá a la remisión del mismo al depósito correspondiente, debiéndose cubrir los derechos por el arrastre. Cuando el usuario del servicio de estacionamiento en vía pública en zonas con sistemas de cobro impida, dificulte o se niegue a que se ejerzan las facultades de revisión, de elaboración de boletas de infracción, de inmovilización, de retiro del vehículo o insulte o denigre al personal autorizado, será presentadoante el Juez Cívico. El vehículo será liberado hasta que se hayan cubierto las sanciones económicas y los derechos establecidos en el Código Fiscal, por retiro de inmovilizador correspondientes. Seguridad Pública puede auxiliarse de terceros para la inmovilización de vehículos y remisión de vehículos al depósito, previo convenio, permiso o autorización que haya celebrado para ello.
		</span>
	</p>
</section>