<section>
	<h2>Artículo 11</h2>
	<p>
		<span>
			Se prohíbe a los conductores de todo tipo de vehículos:
			<ol type="I">
				<li>Detener su vehículo invadiendo los cruces peatonales marcados en el pavimento, así como dentro de la intersección de vías;</li>
				<li>Detener su vehículo sobre un área de espera para bicicletas o motocicletas, a menos que se trate del usuario para el cual está destinado;</li>
				<li> Circular o detenerse en áreas restringidas que estén delimitadas por marcas en el pavimento, incluyendo las áreas señaladas para el estacionamiento en vía pública u otros dispositivos para el control del tránsito que establezcan este impedimento, en especial:
					<ol type="a">
						<li>Circular sobre aceras o cualquier otro tipo de vías peatonales; y</li>
						<li>Circular sobre vías ciclistas, a menos que se trate de una bicicleta.</li>
					</ol>
				</li>
				<li>Detenerse en sitios donde exista señalamiento restrictivo que así lo indique, o cuando la guarnición de la acera sea de color rojo, excepto para respetar la luz roja de un semáforo o por indicación de un Agente;</li>
				<li>Entorpecer la marcha de columnas militares, escolares, desfiles cívicos y similares;</li>
				<li>Rebasar a otros vehículos cuando éstos se detengan para ceder el paso a los peatones;</li>
				<li>Realizar un movimiento diferente a lo indicado por la señalización vial sobre carriles destinados para giros a la derecha o izquierda;</li>
				<li>Dar vuelta en “U” cerca de una curva y donde el señalamiento restrictivo expresamente lo prohíba;</li>
				<li> Con excepción de vehículos no motorizados, circular sobre el acotamiento de la vía; éste se utilizará principalmente para el estacionamiento de vehículos que sufran alguna descompostura;</li>
				<li>En las vías con carriles exclusivos de transporte público:
					<ol type="a">
						<li>Circular sobre los carriles exclusivos para el transporte público en el sentido de la vía o en contraflujo. Los vehículos que cuenten con la autorización respectiva para utilizar estos carriles deberán conducir con los faros delanteros encendidos y contar con una señal luminosa de color ámbar;</li>
						<li>Realizar maniobras de ascenso y descenso de personas, o maniobras de carga y descarga de mercancías, debiendo realizarlas en calles locales transversales;</li>
						<li>Estacionarse o efectuar reparaciones a vehículos, en caso de contingencia o emergencia, de forma inmediata se debe retirar el vehículo a un lugar distinto donde no obstruya la circulación; y</li>
						<li>Interferir los carriles exclusivos de transporte público al dar vuelta a la izquierda, derecha o en “U”, así como cambiar de cuerpo de circulación en la misma vía cuando existan señalamientos restrictivos que prohíban estos movimientos.</li>								
					</ol>
				</li>
				<li>Realizar maniobras de ascenso o descenso de personas en carriles centrales de las vías de acceso controlado;</li>
				<li>Rebasar por el carril de sentido contrario, cuando:</li>
				<li>
					<ol type="a">
						<li>Existan peatones u otros vehículos cruzando en la intersección;</li>
						<li>Sea posible rebasarlos en el mismo sentido de circulación;</li>
						<li>El carril de circulación contrario no ofrezca una clara visibilidad o cuando no esté libre de tránsito en una longitud suficiente que permita efectuar la maniobra;</li>
						<li>Se acerque a la cima de una pendiente o en curva;</li>
						<li>Se encuentre a una distancia de treinta metros o menos de una intersección o de una vía férrea;</li>
						<li>Se pretenda adelantar filas de vehículos;</li>
						<li>Exista una raya central continua; y</li>
						<li>El vehículo que lo precede haya iniciado una maniobra de rebase, y no existan las condiciones de libre visión y seguridad.</li>
					</ol>
				</li>
				<li>Circular en reversa más de treinta metros, salvo que no sea posible circular hacia delante;</li>
				<li>Circular detrás de vehículos de emergencia que transiten con las señales luminosas y audibles encendidas, debiendo guardar una distancia mínima de cincuenta metros; y</li>
				<li>Detenerse a una distancia que entorpezca o ponga en riesgo las labores del personal de atención a emergencias.</li>
				<li></li>
			</ol>
			Los conductores de vehículos no motorizados que no cumplan con las obligaciones estipuladas en el presente artículo serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad con lo establecido por las disposiciones aplicables.
			<br></br>
			Los conductores de vehículos motorizados que incumplan lo dispuesto en este artículo, serán sancionados de acuerdo a la siguiente tabla					
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>IV, V, XIII</th>
					<th>5 a 10 veces</th>
					<th>1 punto</th>
				</tr>
				<tr>
					<th>I, II, VI, VII, VIII, IX, X b) c), XI XII, XIV, XV</th>
					<th>20 a 30 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>III</th>
					<th>20 a 30 veces y remisión del vehículo al depósito </th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>I, II y III en caso de conductores de vehículos de transporte público y conductores de vehículos de carga</th>
					<th>40 a 50 veces y remisión del vehículo al depósito</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>X a) d) </th>
					<th>40 a 60 veces y remisión del vehículo al depósito</th>
					<th>6 puntos</th>
				</tr>
			</table>					
		</span>
	</p>
</section>