<section>
	<h2>Artículo 70</h2>
	<p>
		<span>
			A los agentes que violen lo establecido en este Reglamento o que en aplicación del mismo remitan a un conductor ante un Juzgado Cívico, sin que medie infracción de tránsito alguna o remitan un vehículo a un depósito sin causa justificada, se les aplicarán las sanciones correspondientes. Los particulares pueden acudir ante el Ministerio Público, la Contraloría General del Distrito Federal, la Contraloría Interna o los Órganos internos de Disciplina de Seguridad Pública a denunciar presuntos actos ilícitos de un agente.
		</span>
	</p>
</section>