<section>
	<h2>Artículo 37</h2>
	<p>
		<span>
			Los conductores y ocupantes de los vehículos deben de cumplir con las disposiciones de seguridad indicadas en el presente artículo de acuerdo a la naturaleza propia de cada vehículo.
			<ol type="I">
				<li>Los conductores de vehículos no motorizados deben:</li>
				<li>
					<ol type="a">
						<li>Usar aditamentos luminosos, bandas fluorescentes o reflejantes en horario nocturno o circunstancias de poca visibilidad; y</li>
						<li>En caso de llevar a acompañantes menores de 5 años que tengan la capacidad de sentarse por cuenta propia y mantener erguida la cabeza, los menores deberán de ser transportados en: remolques o cabinas que tengan estructura de protección lateral, bandas reflejantes y cinturones que aseguren el torso del menor; o sillas especiales, con cinturones que aseguren el torso del menor y cuya estructura proteja la cabeza y las piernas del menor, que deberá portar casco.</li>
						<li></li>
					</ol>
				</li>
				<li>Los conductores de vehículos motorizados deben:
					<ol type="a">
						<li>Sujetar firmemente con ambas manos, el control de dirección y no permitir que otro pasajero lo tome parcial o totalmente;</li>
						<li>Asegurarse que todos los pasajeros utilicen correctamente el cinturón de seguridad, además de colocarse el propio, excepto los ocupantes de vehículos de emergencia. Los taxistas, no están obligados a cumplir con esta disposición, respecto de los pasajeros;</li>
						<li>Circular con las portezuelas cerradas y, antes de abrirlas, verificar que no se interfiera en el flujo de peatones u otros vehículos; en su caso, no la mantendrán abierta por mayor tiempo que el estrictamente necesario para su ascenso o descenso;</li>
						<li>Encender las luces cuando disminuya sensiblemente la visibilidad por cualquier factor ambiental o por las características de la infraestructura vial, evitando deslumbrar a quienes transitan en sentido opuesto; y</li>
						<li>Colocar dispositivos de advertencia cuando por caso fortuito o de fuerza mayor se detenga en vías primarias. Si la vía es de doble sentido, los dispositivos de advertencia se colocarán 20 metros atrás del vehículo y 20 metros adelante en el carril opuesto.</li>
					</ol>
				</li>
				<li>Adicionalmente, los motociclistas deben:
					<ol type="a">
						<li>Circular todo tiempo con las luces traseras y delanteras encendidas;</li>
						<li>Llevar a bordo sólo la cantidad de personas para las que exista plaza disponible;</li>
						<li>Usar aditamentos luminosos o bandas reflejantes en horario nocturno;</li>
						<li>Utilizar casco protector diseñado específicamente para motociclistas y asegurarse que los acompañantes también lo usen; éste debe estar correctamente colocado en la cabeza y abrochado; y</li>
						<li>Preferentemente portar visores, chamarra o peto para protección con aditamentos rígidos para cobertura de hombros, codos y torso específicos para motociclista, guantes y botas, todos de diseño específico para conducción de este tipo de vehículo.</li>
					</ol>
				</li>
				<li>Adicionalmente, los conductores de vehículos de transporte carga deben circular con la carga debidamente asegurada por tensadores para sujetar carga, cintas y/o lonas, que evite tirar objetos o derramar sustancias que obstruyan el tránsito o pongan en riesgo la integridad física de las personas; y</li>
				<li>Los conductores de vehículos de transporte de sustancias tóxicas o peligrosas deben asegurarse de que la carga esté debidamente protegida y señalizada de conformidad con las normas oficiales mexicanas.</li>
			</ol>
			Cuando por alguna circunstancia de emergencia se requiera estacionar el vehículo en la vía pública, a fin de evitar que personas ajenas a la transportación manipulen el equipo o la carga. Cuando lo anterior suceda, el conductor deberá colocar triángulos de seguridad o señalamientos de advertencia tanto en la parte delantera como trasera de la unidad, a una distancia que permita a otros conductores tomar las precauciones necesarias.
			Los conductores de vehículos no motorizados, que no cumplan con lo dispuesto en este artículo, serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad a las disposiciones aplicables. El incumplimiento a lo dispuesto en este artículo por parte de conductores de vehículos motorizados, se sancionará con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>II a), b), d), e); III a), c) </th>
					<th>5 a 10 veces </th>
					<th>1 punto</th>
				</tr>
				<tr>
					<th>II c); III b), d); V </th>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>III d) </th>
					<th>10 a 20 veces y remisión del vehículo al depósito </th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>IV </th>
					<th>40 a 60 veces y remisión del vehículo al depósito </th>
					<th>3 puntos</th>
				</tr>
			</table>
		</span>
	</p>
</section>