<section>
	<h2>Artículo 52</h2>
	<p>
		<span>
			Cuando en cualquier vía y debido a la conducción errática de vehículos motorizados, un agente se percate que el conductor muestre signos de haber ingerido bebidas alcohólicas, narcóticos, estupefacientes o psicotrópicos; se procederá como sigue: 
			<ol type="I">
				<li>Indicará al conductor detener la marcha de su vehículo;</li>
				<li>Se identificará con su nombre y número de placa;</li>
				<li>Someterá al conductor a una entrevista en la que le preguntará si ha ingerido bebidas alcohólicas, narcóticos, estupefacientes o psicotrópicos, procurando estar a una distancia considerable que le permita percibir si emana de su respiración aliento alcohólico o muestra signos de haber ingerido, consumido, inhalado o aspirado narcóticos, estupefacientes o psicotrópicos;</li>
				<li>Si percibe que el conductor no muestra ningún signo de haber ingerido bebidas alcohólicas o haber ingerido, consumido, inhalado o aspirado narcóticos, estupefacientes o psicotrópicos, se le permitirá continuar su recorrido;</li>
				<li>En caso de que el conductor muestre signos de haber ingerido bebidas alcohólicas o haber ingerido, consumido, inhalado o aspirado narcóticos, estupefacientes o psicotrópicos; se le solicitará la licencia de conducir y/o licencia permiso, la tarjeta de circulación y la póliza de seguro de responsabilidad civil por daños a terceros vigente; y será remitido al Juzgado Cívico para que se inicie el procedimiento administrativo respectivo; y</li>
				<li>Si el médico del Juzgado Cívico certifica que el conductor se encuentra en estado de ebriedad o de intoxicación por consumo de bebidas alcohólicas, narcóticos, estupefacientes o psicotrópicos, será sancionado con arresto de 20 a 36 horas inconmutable.</li>
			</ol>
			Independientemente de lo anterior, si el conductor es detenido por haber cometido alguna infracción al presente reglamento y se percibe que éste conduce bajo los efectos del alcohol, o muestra signos de haber ingerido, consumido, inhalado o aspirado narcóticos, estupefacientes o psicotrópicos; se estará a lo dispuesto al contenido de los incisos e) y f), sin perjuicio de la sanción impuesta por la infracción por la que fue detenido.
		</span>
	</p>
</section>