<section>
	<h2>Artículo 35</h2>
	<p>
		<span>
			Está prohibido abandonar en la vía pública un vehículo o remolque que se encuentre inservible, destruido o inutilizado. Se entiende por estado de abandono, los vehículos que:
			<ol type="I">
				<li>No sean movidos por más de 15 días y acumulen residuos que generen un foco de infección, malos olores o fauna nociva; o</li>
				<li>Participaron en un hecho de tránsito, no están en posibilidades de circular y no cuenten con el permiso correspondiente.</li>
				<li></li>
			</ol>
			El incumplimiento de este artículo, se sancionará con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>10 a 20 veces y remisión del vehículo al depósito</th>
					<th>No aplica</th>
				</tr>
			</table>
		</span>
	</p>
</section>