<section>
	<h2>Artículo 18</h2>
	<p>
		<span>
			Los vehículos no motorizados preferentemente deben circular por el carril derecho, excepto:
			<ol type="I">
				<li>En calles compartidas ciclistas en las que pueden utilizar cualquier carril;</li>
				<li>Se vaya a realizar un giro a la izquierda, en cuyo caso deberá llegar a la esquina próxima, posarse en el área de espera ciclista, en donde permanecerá hasta que señalamientos viales permitan su incorporación a la izquierda; y</li>
				<li>Se requiera rebasar a otros vehículos más lentos o existan vehículos parados o estacionados, obstáculos u obras que impiden la utilización del carril.</li>
			</ol>
		</span>
	</p>
</section>