<section>
	<h2>Artículo 12</h2>			
	<p>
		<span>
			Está prohibido remolcar o empujar otros vehículos motorizados si no es por medio de una grúa, excepto cuando:
			<ol type="I">
				<li>Se trate de remolques u otros vehículos expresamente diseñados para este fin;</li>
				<li>El vehículo se encuentre obstruyendo la circulación; y</li>
				<li>El vehículo a remolcar o empujar represente un peligro para sí o para terceros, en éste caso sólo se permitirá hasta ponerlo en un lugar seguro.</li>
			</ol>
			Se exceptúan de lo anterior a los vehículos de transporte público en cualquiera de sus modalidades, que sólo podrán ser remolcados por una grúa. Los conductores que incumplan lo dispuesto en este artículo serán sancionados de acuerdo a la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
			</table>					
		</span>
	</p>
</section>