<section>
	<h2>Artículo 61</h2>
	<p>
		<span>
			Las infracciones a este Reglamento que sean detectadas a través de equipos y sistemas tecnológicos, serán impuestas por el agente que se encuentre asignado para ello, lo cual se hará constar en boletas seriadas autorizadas por Seguridad Pública. 
			Adicionalmente a lo indicado en el artículo 60, las boletas señalarán:
			<ol type="I">
				<li>Tecnología utilizada para captar la comisión de la infracción y el lugar en que se encontraba el equipo tecnológico al momento de ser detectada la infracción cometida; y</li>
				<li>Formato expedido por el propio instrumento tecnológico que captó la infracción o copia de la imagen y/o sonidos y su trascripción en su caso, con la confirmación de que los elementos corresponden en forma auténtica y sin alteración de ningún tipo a lo captado por el instrumento tecnológico utilizado.</li>
			</ol>
			La información obtenida con equipos y sistemas tecnológicos, con base en la cual se determine la imposición de la sanción, hará prueba plena en términos de lo que dispone el artículo 34 de la Ley que Regula el Uso de Tecnología para la Seguridad Pública del Distrito Federal.
		</span>
	</p>
</section>