<section>
	<h2>Artículo 8</h2>
	<p>
		<span>
			Los conductores de todo tipo de vehículos deben:
			<ol type="I">
				<li>Obedecer las indicaciones de los agentes, personal de apoyo vial, promotores voluntarios, así como respetar la señalización vial de acuerdo a lo estipulado en el anexo de los dispositivos para el control del tránsito del presente reglamento;</li>
				<li>Tomar las máximas precauciones a su alcance cuando existan peatones sobre el arroyo vehicular, reducir la velocidad o parar para permitir el paso a peatones, especialmente en zonas escolares o en calles de prioridad peatonal;</li>
				<li>Compartir los carriles de circulación de manera responsable con los demás vehículos, por lo que se debe cambiar de carriles de forma escalonada y tomar el carril extremo correspondiente anticipadamente cuando se pretenda dar vuelta, considerando lo especificado en la fracción VIII del este artículo;</li>
				<li>Circular en el sentido que indique la vía; tratándose de vías reversibles, respetar los tramos y horarios que determine la autoridad competente y en caso de tratarse de vías de doble sentido, circular en el costado derecho de la vía, evitando deslumbrar a los conductores del sentido contrario;
				</li>
				<li>Rebasar otro vehículo sólo por el lado izquierdo; en el caso de vehículos motorizados que adelanten a ciclistas o motociclistas deben otorgar al menos la distancia de 1.50 metros de separación lateral;</li>
				<li>Alinearse a la derecha y reducir la velocidad cuando otro vehículo intente adelantarlo;</li>
				<li>Conservar respecto al vehículo que le preceda, una distancia razonable que garantice la detención oportuna en caso de que éste frene intempestivamente;</li>
				<li>Indicar la dirección de su giro o cambio de carril, mediante luces direccionales, en caso de vehículos no motorizados, podrá indicarse mediante señas;</li>
				<li>Reducir la velocidad para conservar una distancia prudente y permitir el movimiento, cuando otro vehículo pretenda incorporarse a su carril y éste lo ha indicado con las luces direccionales;</li>
				<li>Dar prioridad a los vehículos de emergencia que circulen con las señales luminosas y audibles encendidas, debiendo disminuir la velocidad para despejar el camino y procurar alinearse hacia la derecha;</li>
				<li>Disminuir su velocidad y tomar todas las precauciones necesarias cuando encuentren un vehículo de transporte escolar realizando maniobras de ascenso y descenso de escolares;</li>
				<li>Cuando transiten en zonas escolares:
					<ol type="a">
						<li>Disminuir su velocidad y extremar precauciones, respetando la señalización vial y dispositivos para el control del tránsito correspondientes que indican la velocidad máxima permitida y cruce de peatones;</li>
						<li>Parar y ceder el paso a los escolares; y</li>
						<li>Obedecer las indicaciones de los agentes o de los promotores voluntarios.</li>								
					</ol>
				</li>
				<li>Cuando transiten por intersecciones con vías férreas:
					<ol type="a">
						<li>Disminuir la velocidad del vehículo a treinta kilómetros por hora, a una distancia de cincuenta metros antes de cruzar vías férreas; y</li>
						<li>Realizar alto a una distancia de cinco metros antes de las vías y mantenerse en esa forma si el ferrocarril se encuentra a una distancia menor a doscientos metros en dirección al crucero.</li>
					</ol>
				</li>
				<li>Ascender o descender del vehículo sobre el carril contiguo a la acera. En caso de que tenga que hacerlo del lado izquierdo extremará precauciones al abrir o cerrar las portezuelas, sin sobrepasar las rayas de división de carril de manera que no haga un corte de circulación.</li>
			</ol>
			Los conductores de vehículos no motorizados que no cumplan con las obligaciones estipuladas en el presente artículo, de acuerdo a la naturaleza de su vehículo, serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad con lo establecido por las disposiciones aplicables.
			<br></br>
			El incumplimiento de las obligaciones dispuestas en este artículo por parte de conductores de vehículos motorizados se sancionará con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>III, V, VI, VII, VIII, IX, XIII, XIV</th>
					<th>5 a 10 veces</th>
					<th>1 punto</th>
				</tr>
				<tr>
					<th>I, II, IV, X, XI, XII</th>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
				</tr>						
			</table>
		</span>
	</p>
</section>