<section>
	<h2>Artículo 45</h2>
	<p>
		<span>
			Los vehículos motorizados que circulen en el territorio del Distrito Federal deben de contar con:
			<ol type="I">
				<li>Placas de matrícula frontal y posterior, o permiso provisional vigentes correspondiente al tipo de vehículo, o en su defecto, la copia certificada de la denuncia de la pérdida de las placas de matrícula ante el agente del Ministerio Público o la constancia de hechos ante el Juez Cívico, la cual no deberá exceder del término de 10 días hábiles a partir de la fecha de su expedición; mismos que deberán:
					<ol type="a">
						<li>Estar colocadas en el lugar destinado por el fabricante del vehículo;</li>
						<li>Encontrarse libres de cualquier objeto o sustancia que dificulte u obstruya su visibilidad o su registro, así como luces de neón alrededor;</li>
						<li>Coincidir con la calcomanía permanente de circulación, con la tarjeta de circulación y con los registros del control vehicular;</li>
						<li>Tener la dimensión y características que especifique la Norma Oficial Mexicana respectiva; y</li>
						<li>En el caso de motocicletas, la placa deberá estar colocada en un lugar visible, con la lectura en dirección hacia la parte trasera del vehículo, con una inclinación entre 60° y 120°, con base en su eje horizontal.</li>								
					</ol>
				</li>
				<li>La calcomanía de circulación permanente;</li>
				<li>El holograma y constancia de verificación vehicular vigente con excepción de motocicletas. Los vehículos motorizados de los Estados que conforman la Comisión Ambiental de la Megalópolis y que circulen en el territorio del Distrito Federal están obligados a portar su holograma y constancia de verificación vehicular vigente respectiva; y</li>
				<li>Tarjeta de circulación vigente.</li>
			</ol>
			Tratándose de vehículos con placas de matrícula extranjera, portar los documentos oficiales en los que se describan las características del vehículo y se acredite la legal estancia en el país. Los requisitos y procedimiento para la obtención de la placa de matrícula y tarjeta de circulación se establecen en la Ley y su Reglamento. El incumplimiento de las obligaciones señaladas en este artículo, se sancionarán con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>20 a 30 veces y remisión del vehículo al depósito</th>
					<th>No aplica</th>
				</tr>
			</table>
		</span>
	</p>
</section>