<section>
	<h2>Artículo 9</h2>			
	<p>
		<span>
			Los conductores de vehículos deberán respetar los límites de velocidad establecidos en la señalización vial. A falta de señalamiento restrictivo específico, los límites de velocidad se establecerán de acuerdo a lo siguiente:
			<ol type="I">						
				<li>En los carriles centrales de las vías de acceso controlado la velocidad máxima será de 80 kilómetros por hora;</li>
				<li>En vías primarias la velocidad máxima será de 50 kilómetros por hora;</li>
				<li>En vías secundarias incluyendo las laterales de vías de acceso controlado, la velocidad máxima será de 40 kilómetros por hora;</li>
				<li>En zonas de tránsito calmado la velocidad será de 30 kilómetros por hora;</li>
				<li>En zonas escolares, de hospitales, de asilos, de albergues y casas hogar, la velocidad máxima será de 20 kilómetros por hora; y</li>
				<li>En estacionamientos y en vías peatonales en las cuales se permita el acceso a vehículos la velocidad máxima será de 10 kilómetros por hora.</li>							
			</ol>
			Los conductores de vehículos no motorizados que no cumplan con las obligaciones estipuladas en el presente artículo, serán amonestados verbalmente por los agentes y orientados a conducirse de conformidad con lo establecido por las disposiciones aplicables.
			El incumplimiento de las obligaciones dispuestas en este artículo por parte de conductores de vehículos motorizados se sancionará con base en la siguiente tabla, aplicando la sanción máxima cuando se rebase el límite de velocidad por más de 20 kilómetros por hora, de acuerdo a la información captada por equipos y sistemas tecnológicos.
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>I, II, III</th>
					<th>10 a 20 veces </th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>IV, V, VI</th>
					<th>10 a 20 veces</th>
					<th>6 puntos</th>
				</tr>
				<tr>
					<th>II, III, para conductores de vehículos de transporte público de pasajeros y de carga</th>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>IV, V, VI, para conductores de vehículos de transporte público de pasajeros y de carga</th>
					<th>20 a 30 veces</th>
					<th>6 puntos</th>
				</tr>
			</table>
		</span>
	</p>
</section>