<section>
	<h2>Artículo 46</h2>
	<p>
		<span>
			Los vehículos motorizados deberán contar con póliza de seguro de responsabilidad civil vigente, que ampare al menos la responsabilidad civil por daños a terceros en su persona y en su patrimonio.
			En el caso de las unidades que prestan el servicio de transporte público de pasajeros o de carga, deberá contar con póliza de seguro de responsabilidad civil vigente, que ampare la responsabilidad civil por daños y perjuicio que con motivo de la prestación del servicio pudiese ocasionar a los usuarios o terceros en su persona o patrimonio, dependiendo de la modalidad de transporte a la que corresponda y de acuerdo a lo que establezca el reglamento de la Ley. Sin perjuicio de las sanciones establecidas en este reglamento, serán sancionados de acuerdo a lo estipulado en la Ley y su reglamento. En caso de no portar la póliza vigente, el propietario del vehículo será sancionado de acuerdo a la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Tipo de conductor</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>Propietario de vehículo particular</th>
					<th>40 a 60 veces y remisión del vehículo al depósito </th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>Concesionario de unidad de transporte de carga</th>
					<th>40 a 60 veces y remisión del vehículo al depósito</th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>Concesionario de unidad de transporte público de pasajeros</th>
					<th>60 a 80 veces y remisión del vehículo al depósito</th>
					<th>No aplica</th>
			</table>
			<br></br>
			El propietario del vehículo particular tendrá 45 días naturales para la cancelación de la multa, al presentar ante Seguridad Pública una póliza de seguro de responsabilidad civil por daños a terceros, en los términos de la Ley, dentro del término estipulado.
		</span>
	</p>
</section>