<section>
	<h2>Artículo 40</h2>
	<p>
		<span>
			Los conductores de vehículos deben cerciorarse de que su vehículo esté provisto de los siguientes elementos, de acuerdo a la naturaleza propia de cada vehículo.
			<ol type="I">
				<li>Conductores de vehículos no motorizados:
					<ol type="a">
						<li>Contar con reflejantes rojos atrás, reflejantes blancos adelante o luces traseras y delanteras en los colores antes indicados.</li>
					</ol>
				</li>
				<li>Conductores de todo vehículo motorizado:
					<ol type="a">
						<li>Combustible y lubricante suficiente para su buen funcionamiento;</li>
						<li>Cuartos delanteros, de luz amarilla o blanca y cuartos traseros de luz roja;</li>
						<li>Faros delanteros, que cumplan con las Normas Oficiales Mexicanas, dotados de un mecanismo para cambio de intensidad;</li>
						<li>Luces indicadoras de frenos en la parte trasera; direccionales y luces de parada de destello intermitente delanteras y traseras; luces para indicar movimiento en reversa; luces que iluminen la placa de matrícula posterior;</li>
						<li>Neumáticos en condiciones que garanticen la seguridad;</li>
						<li>Parabrisas en óptimas condiciones que permita la visibilidad al interior y exterior del vehículo;</li>
						<li>Ambas defensas;</li>
						<li>Dos espejos retrovisores laterales y uno interior los vehículos de transporte de carga y de pasajeros cuya carrocería impida la visión central sólo tendrán los espejos laterales;</li>
						<li>Una bocina que emita un sonido audible desde una distancia de sesenta metros en circunstancias normales;</li>
						<li>Un dispositivo silenciador en el escape que amortigüe las explosiones del motor;</li>
						<li>Cinturones de seguridad para cada ocupante del vehículo, y</li>
						<li>Extintor, dos señalamientos de advertencia reflejantes o luminosos, neumático de refacción y la herramienta adecuada para el cambio o reparación de la misma; o en su caso, neumáticos que permitan la circulación sin presión o el sistema auxiliar que permita rodar con seguridad, con un neumático ponchado.</li>
					</ol>
				</li>
				<li>En caso de vehículos para enseñanza, adicionalmente deben contar con:
					<ol type="a">
						<li>Un sistema de doble control de frenos, embragues y retrovisores, que permita al instructor controlar el vehículo cuando sea necesario con absoluta independencia del aprendiz;</li>
						<li>La leyenda “VEHÍCULO DE ENSEÑANZA” en los costados y la parte posterior; y</li>
						<li>Las demás características que determine la Secretaría.</li>
					</ol>
				</li>
				<li>Vehículos de transporte público, transporte de personal y escolar:
					<ol type="a">
						<li>Bandas reflejantes de color blanco y rojo en los costados laterales y posterior y bandas reflejantes amarillas en la parte frontal;</li>
						<li>Contar con un botiquín de primeros auxilios; y </li>
						<li>Tratándose de taxis preferentes los sistemas para la sujeción de pasajeros que viajen en silla de ruedas, deben ser de acuerdo con el anexo de este reglamento</li>
					</ol>
				</li>
				<li>Vehículos de transporte de carga:
					<ol type="a">
						<li>Bandas reflejantes de color blanco y rojo en los costados laterales y posterior y bandas reflejantes amarillas en la parte frontal; </li>
						<li>Cuando se trate de un vehículo con doble remolque, deberá contar con leyendas de advertencia “PRECAUCIÓN DOBLE SEMI REMOLQUE”; y</li>
						<li>Salvaguardas laterales de acuerdo con el anexo correspondiente de este ordenamiento.</li>
					</ol>
				</li>
			</ol>
			El incumplimiento de las obligaciones dispuestas en este artículo, se sancionará con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>II a), b), c), d), e), f), g), h), i), j), k), l) </th>
					<th>5 a 10 veces </th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>IV, V </th>
					<th>10 a 20 veces</th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>III</th>
					<th>30 a 40 veces y remisión del vehículo al depósito</th>
					<th> </th>
				</tr>
			</table>
			<br></br>
			Adicionalmente, las escuelas de manejo que incumplan lo dispuesto en la fracción III serán sancionadas de acuerdo a lo que establezca la autorización respectiva de funcionamiento.
		</span>
	</p>
</section>