<section>
	<h2>Artículo 17</h2>
	<p>
		<span>
			Al circular en una vía que no cuente con infraestructura ciclista, los conductores de vehículos no motorizados tienen derecho a ocupar el carril completo. También tienen prioridad en el uso de la vía, cuando circulen:
			<ol type="I">
				<li>En calles y carriles compartidos ciclistas; y</li>
				<li>En comitivas organizadas, dependiendo del número de participantes podrán utilizar parte o la totalidad de la vía.</li>
			</ol>
			Los conductores de vehículos motorizados que no respeten la prioridad de uso de la vía de acuerdo a lo dispuesto en este artículo, serán sancionados con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
				</tr>
			</table>
		</span>
	</p>
</section>