<section>
	<h2>Artículo 54</h2>
	<p>
		<span>
			Si como resultado de un hecho de tránsito únicamente se ocasionan daños a bienes, se procederá de la siguiente forma:
			<ol type="I">
				<li>Los involucrados deberán detenerse inmediatamente en el lugar del incidente o tan cerca de él como sea posible, y permanecer en el sitio hasta que algún agente o Elemento de Seguridad Publica tome el conocimiento que corresponda;</li>
				<li>Encender de inmediato las luces intermitentes y colocar los señalamientos que se requieran a efecto de que se disminuya la velocidad de otros vehículos y se haga la desviación de la circulación para evitar otro posible hecho de tránsito;</li>
				<li>Llamar a la aseguradora para hacer uso de su póliza de seguro de responsabilidad civil por daños a terceros vigente;</li>
				<li>En caso de que en un hecho de tránsito sólo hubiere daños materiales a propiedad privada:
					<ol type="a">
						<li>Cuando los involucrados estuvieran de acuerdo en la forma de reparación de los daños, si todos los vehículos están en condiciones de circular, ninguno de los conductores presenta síntomas de estar bajo el influjo de alcohol o narcóticos, estupefacientes o psicotrópicos y no hubiera daños en bienes públicos, las partes moverán sus vehículos con el fin de liberar el tránsito en las vías afectadas a fin de no obstruir la circulación; y</li>
						<li>Si las partes no estuvieran de acuerdo con la forma de reparación de los daños, el agente procederá a remitir a los involucrados y sus vehículos ante la autoridad correspondiente.</li>
					</ol>
				</li>
				<li>Cuando los daños sean en bienes públicos, los implicados serán responsables del pago de los mismos, independientemente de lo que establezcan otras disposiciones jurídicas. Las autoridades del Distrito Federal, en el caso de que se ocasionen daños a bienes de la Federación, darán aviso a las autoridades competentes, a efecto de que procedan de conformidad con las disposiciones legales aplicables; y</li>
				<li>En todos los casos, el agente de tránsito llenará un reporte en el que se detallen las causas y las características de hecho de tránsito.</li>
			</ol>
			Si alguno de los conductores de los vehículos motorizados involucrados no contara con póliza de seguro de responsabilidad civil por daños a terceros vigente, se aplicará la sanción correspondiente, establecida en el artículo 46 del presente Reglamento.
			<br></br>
			Asimismo, independientemente de que exista un acuerdo entre las partes, si alguno de los conductores implicados se encuentra bajo los efectos del alcohol o narcóticos, estupefacientes o psicotrópicos, se aplicará lo dispuesto en el párrafo tercero del artículo 50 y será remitido a la autoridad competente, según corresponda.
		</span>
	</p>
</section>