<section>
	<h2>Artículo 62</h2>
	<p>
		<span>
			El pago de la multa se puede realizar en:
			<ol type="I">
				<li>Oficinas de la Administración Tributaria de la Tesorería del Distrito Federal de la Secretaría de Finanzas;</li>
				<li>Centros autorizados para este fin, incluyendo medios electrónicos de pago; o</li>
				<li>Con el agente que impuso la infracción en caso de que cuente con el equipo electrónico portátil (Hand held).</li>
			</ol>
			El infractor tendrá un plazo de treinta días naturales contados a partir de la fecha de emisión de la boleta de sanción para realizar el pago, teniendo derecho a que se le descuente un 50% del monto de la misma, con excepción de la sanción que establece el artículo 33, fracción II de este Reglamento; vencido el plazo señalado sin que se realice el pago, deberá cubrir los demás créditos fiscales que establece el Código Fiscal del Distrito Federal.
			<br></br>
			Para el caso de las infracciones que son notificadas vía correo certificado o con acuse de recibo, el ciudadano podrá promover la aplicación del derecho mencionado si la línea de captura que acompaña al documento expira antes del plazo mencionado, siempre y cuando se acredite, en las Oficinas de Atención Ciudadana para la Aclaración de Infracciones, que la fecha de notificación domiciliaria fue extemporánea.
			<br></br>
			Cuando la infracción sea cometida por conductores que manejan un vehículo con placas de matrícula de otra entidad federativa o país, el agente deberá retirar la placa delantera o retener la licencia de conducir o la tarjeta de circulación, cuando el cobro de la sanción no sea realizado en el sitio e indicar en la boleta de infracción que se procedió de esa forma. La placa de matrícula o documentación retenida le será devuelta al conductor en las oficinas de Seguridad Pública, una vez realizado el pago.
			<br></br>

		</span>
	</p>
</section>