<section>
	<h2>Artículo 30</h2>
	<p>
		<span>
			Se prohíbe estacionar cualquier vehículo:
			<ol type="I">
				<li>Sobre vías peatonales, especialmente banquetas y cruces peatonales, así como vías ciclistas exclusivas, para ello es suficiente que cualquier parte del vehículo se encuentre sobre estos espacios;</li>
				<li>En las vías primarias;</li>
				<li>Sobre o debajo de cualquier puente o estructura elevada de una vía pública o en el interior de un túnel;</li>
				<li>En el costado izquierdo de la vía cuando existan camellones centrales, laterales o islas, así como en las glorietas, salvo que las marcas en el pavimento y el señalamiento lo permita;</li>
				<li>En donde exista señalamiento restrictivo, o la guarnición de la acera sea de color amarillo, que indica el área donde está prohibido el estacionamiento;</li>
				<li>En los carriles exclusivos, confinados y/o prioritarios de transporte público;</li>
				<li>En áreas de circulación, accesos y salidas de estaciones y terminales del transporte público colectivo, sitios de taxi, así como en zonas de ascenso y descenso de pasaje de transporte público;</li>
				<li>En espacios para servicios especiales autorizados por la Secretaría o cualquier otro sitio indicado por la señalización vial correspondiente, cuando éste no sea su fin;</li>
				<li>En espacios de servicios especiales destinados al ascenso y descenso de pasajeros cuando la permanencia del vehículo supere el tiempo indicado en la señalización vial, excepto cuando se trate de pasajeros con discapacidad o movilidad limitada;</li>
				<li>Frente a:
					<ol type="a">
						<li>Establecimientos bancarios;</li>
						<li>Hidrantes para uso de los bomberos;</li>
						<li>Entradas y salidas de vehículos de emergencia;</li>
						<li>Entradas o salidas de estacionamientos públicos y gasolineras;</li>
						<li>Centros escolares y demás centros de concentración masiva que determine la Secretaría;</li>
						<li>Rampas peatonales;</li>
						<li>Rampas de acceso de vehículos, salvo que se trate de las del domicilio del propio conductor, siempre y cuando no se invada la acera o el tránsito de peatones; y</li>
						<li>En entradas y salidas peatonales de instalaciones de hospitales o centros de salud.</li>
					</ol>
				</li>
				<li>En lugares donde se obstruya la visibilidad de la señalización vial;</li>
				<li>Sobre las vías en doble o más filas;</li>
				<li>En batería, con excepción de bicicletas y motocicletas o que un señalamiento así lo permita;</li>
				<li>En un tramo menor a:
					<ol type="a">
						<li>Siete metros y medio a partir de la guarnición de la vía transversal;</li>
						<li>Seis metros de la entrada de una estación de bomberos y de vehículos de emergencia; y en un espacio de 25 metros acada lado del eje de entrada en la acera opuesta a ella; y</li>
						<li>Diez metros de cualquier cruce de vía férrea.</li>
					</ol>
				</li>
				<li>En lugares o cajones destinados al estacionamiento de vehículos que transporten o sean conducidos por personas con discapacidad, identificados con el señalamiento informativo;</li>
				<li>En carreteras de no más de dos carriles y con doble sentido de circulación, en un tramo menor a:
					<ol type="a">
						<li>Cincuenta metros de un vehículo estacionado en el lado opuesto; y</li>
						<li>Cien metros de una curva o cima sin visibilidad;</li>
					</ol>
				</li>
				<li>En sentido contrario a la circulación;</li>
				<li>En los cajones exclusivos debidamente autorizados y que cuenten con marcas de color azul que así lo indique, a menos que se trate del vehículo para el cual están destinados estos espacios;</li>
				<li>En vías ciclistas, cicloestaciones de bicicleta pública y biciestacionamientos, así como el espacio contiguo a éstos, con excepción de los vehículos no motorizados para los cuales están destinados estos espacios;</li>
				<li>En los demás lugares que la Secretaría y Seguridad Pública determinen; y </li>
				<li>Cuando se estacionen vehículos en lugares autorizados para tal fin, y no se cubra la cuota determinada por su uso, además de lo dispuesto en la fracción II del artículo 33, se impondrá la multa señalada en este artículo.</li>
			</ol>
			La infracción por parte de los conductores de vehículos motorizados a las prohibiciones dispuestas en este artículo, se sancionará con base en la siguiente tabla:
			<br></br>
			<table>
				<tr>
					<th>Fracción</th>
					<th>Sanción con multa equivalente en veces la Unidad de Cuenta de la Ciudad de México vigente</th>							
					<th>Puntos de penalización en licencia para conducir</th>
				</tr>
				<tr>
					<th>IX, XVII</th>
					<th>5 a 10 veces</th>
					<th>1 punto</th>
				</tr>
				<tr>
					<th>XXI</th>
					<th>5 a 10 veces</th>
					<th>No aplica</th>
				</tr>
				<tr>
					<th>I, XII, XVI</th>
					<th>10 a 20 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>II, IV, V, XI, XIII, XIV, XX</th>
					<th>10 a 20 veces</th>
					<th>1 punto</th>
				</tr>
				<tr>
					<th>III , VIII, X, XVIII, XIX</th>
					<th>15 a 20 veces</th>
					<th>3 puntos</th>
				</tr>
				<tr>
					<th>VI, VII, XV</th>
					<th>20 a 30 veces</th>
					<th>6 puntos</th>
				</tr>
			</table>
			<br></br>
			En los casos anteriores, se usara grúa o vehículo autorizado para que el vehículo sea remitido al depósito vehicular
		</span>
	</p>
</section>