<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<title>Buscador</title>
</head>
<body>
	<section>
		<h1>Reglamento de Tránsito del Distrito Federal</h1>
		<a href="/">Inicio</a>
		<form action="/search" id="search-form" method="GET">
			<input type="text" id="q" name="q" autofocus placeholder="Buscar en el reglamento">
			<input type="submit" value="Buscar">
		</form>
	</section>
{% block content %}{% endblock %}
</body>
</html>