<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Buscador en el Reglamento de Tránsito del Distrito Federal 2015. Encontrarás todos los artículos del reglamento de tránsito de la Ciudad de México. Ideal para consultar al momento de ser detenido y no conocer las normas. Busca palabras clave que se encuentren en un artículo del nuevo reglamento del DF. Esta herramienta de búsqueda te ayudará a encontrar rápidamente las multas por violar alguna de las reglas establecidas.">
		<meta name="author" content="Rafael Maldonado">
		<!--<link rel="stylesheet" type="text/css" href="../css/reset.css">-->
		<link rel="icon" type="image/x-icon" href="../image/favicon.ico">
		<title>Buscador | Reglamento de Tránsito del Dsitrito Federal</title>
	</head>
	<body>
		<section>
			<span>No se encuentra la página</span>
		</section>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-68638615-1', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
